<div class="div_back">
    <div class="col-12">
        <div class="card px-6 py-6" style="padding: 2rem; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div>
                <div class="field" *ngIf="photoPreview" style="margin-bottom: 1.5rem;">
                    <img [src]="photoPreview" alt="Preview" width="200">
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="photo" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Foto</label>
                    <input type="file" accept="image/*" id="photo" (change)="onFileChange($event)" class="mr-2 inline-block" style="width: 100%; box-sizing: border-box;">
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="No_inventario" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Número de inventario</label>
                    <input type="text" pInputText id="No_inventario" [(ngModel)]="noInventario" required style="width: 100%; box-sizing: border-box;" />
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="name" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" class="p-inputtext p-component" style="width: 100%; box-sizing: border-box;"/>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="description" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" rows="3" cols="20" class="p-inputtextarea p-component" style="width: 100%; box-sizing: border-box;"></textarea>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="color" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Color</label>
                    <input type="text" pInputText id="color" [(ngModel)]="product.color" class="p-inputtext p-component" style="width: 100%; box-sizing: border-box;"/>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="marca" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Marca</label>
                    <input type="text" pInputText id="marca" [(ngModel)]="product.marca" class="p-inputtext p-component" style="width: 100%; box-sizing: border-box;"/>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="inventoryGroup" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Grupo de inventario</label>
                    <p-dropdown [(ngModel)]="product.inventoryGroup" inputId="inventoryGroup" optionLabel="label" optionValue="value" [options]="tipos" placeholder="Select" class="p-dropdown" style="width: 100%; box-sizing: border-box;">
                    </p-dropdown>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="Fecha_adquisicion" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Fecha de adquisición</label>
                    <input type="date" pInputText id="Fecha_adquisicion" [(ngModel)]="product.fechaAdquisicion" class="p-inputtext p-component" style="width: 100%; box-sizing: border-box;"/>
                </div>

                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="Fecha_salida" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Fecha de salida de inventario</label>
                    <input type="date" pInputText id="Fecha_salida" [(ngModel)]="product.fechaSalida" class="p-inputtext p-component" style="width: 100%; box-sizing: border-box;"/>
                </div>

                <div class="field p-text-center" style="margin-bottom: 1.5rem;">
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="save()" style="background-color: #007ad9; color: white; margin: 0.5rem;"></button>
                    <button pButton pRipple label="Buscar" icon="pi pi-search" class="p-button-text" (click)="search()" style="background-color: #007ad9; color: white; margin: 0.5rem;"></button>
                </div>
            </div>
        </div>
    </div>
</div>
