.estado-prestado{
    background-color: orange;
    color: white;
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-disponible{
    background-color: green;
    color: white;
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}



.estado-robado {
    /* Estilos para productos robados */
    background-color: red; /* Por ejemplo, color de texto naranja */
    color: white;
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.estado-desaparecido {
    /* Estilos para productos robados */
    background-color: orange; /* Por ejemplo, color de texto naranja */
    color: white;
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-danado {
    background-color: #ffcc00; /* Amarillo */
    color: black; /* Color de texto negro */
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-reparacion {
    background-color: #3399ff; /* Azul */
    color: white; /* Color de texto blanco */
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-revision {
    background-color: #9933ff; /* Morado */
    color: white; /* Color de texto blanco */
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-prestado {
    background-color: #66cc00; /* Verde */
    color: white; /* Color de texto blanco */
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.estado-baja {
    background-color: #ff3333; /* Rojo */
    color: white; /* Color de texto blanco */
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

/* Define estilos para otros estados según sea necesario */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}