<div class="div_back">
    <div class="col-12">
        <div class="card px-6 py-6" style="padding: 2rem; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <p-toast></p-toast>
            <div class="form-container">
                <!-- Campo para ingresar el número de inventario -->
                <div class="field" style="margin-bottom: 1.5rem;">
                    <label for="No_inventario" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Número de inventario</label>
                    <input type="text" pInputText id="No_inventario" [(ngModel)]="noInventario" required style="width: 100%; box-sizing: border-box;" />
                </div>

                <!-- Botón de búsqueda -->
                <div class="p-col-12 p-text-center">
                    <button pButton pRipple label="Buscar" icon="pi pi-search" class="p-button-text" (click)="search()" style="background-color: #007ad9; color: white; margin: 0.5rem;"></button>
                </div>

                <!-- Información del producto encontrado -->
                <div *ngIf="product.id">
                    <div class="field" style="margin-bottom: 1.5rem;">
                        <h2>Detalles del ítem</h2>
                        <p>Nombre: {{ product.name }}</p>
                        <p>ID: {{ product.id }}</p>
                    </div>
                    <div class="field" style="margin-bottom: 1.5rem;">
                        <label for="Estado" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Estado</label>
                        <!-- Dropdown para seleccionar el nuevo estado -->
                        <p-dropdown id="Estado" [options]="estadoOptions" [(ngModel)]="product.estado" optionLabel="label" placeholder="Seleccionar estado"></p-dropdown>
                    </div>
                    <div class="field" style="margin-bottom: 1.5rem;">
                        <label for="Autorizado_por" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Autorizado por</label>
                        <!-- Campo de texto para mostrar el autorizado por -->
                        <input type="text" pInputText id="Autorizado_por" [(ngModel)]="product.autorizado_por" style="width: 50%; box-sizing: border-box;" />
                    </div>
                    <div class="field" style="margin-bottom: 1.5rem;">
                        <label for="Justificacion" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Justificación</label>
                        <!-- Área de texto para mostrar la justificación -->
                        <textarea id="Justificacion" pInputTextarea [(ngModel)]="product.justificacion" rows="5" style="width: 100%; box-sizing: border-box;"></textarea>
                    </div>
                    <div class="field" *ngIf="product.estado && product.estado.value === 'De baja'" style="margin-bottom: 1.5rem;">
                        <label for="FechaBaja" style="font-weight: bold; display: block; margin-bottom: 0.5rem;">Fecha de baja</label>
                        <!-- Campo de fecha para mostrar la fecha de baja -->
                        <input type="date" id="FechaBaja" pInputText [(ngModel)]="product.fechaBaja" style="width: 20%; box-sizing: border-box;" />
                    </div>

                    <!-- Botón para guardar los cambios -->
                    <div class="p-col-12 p-text-center">
                        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="save()" style="background-color: #007ad9; color: white; margin: 0.5rem;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
