<div class="intro-container">
  <div class="textmain-container">
    <h1 class="title">PRO-Activo</h1>
    <h1>Bienvenidos a la aplicación de gestión de inventarios</h1>
    <p class="subtitle">Esta aplicación está diseñada para gestionar el inventario permanente y periódico de los artefactos (equipos, muebles y enseres), su prestamo, gestión de pólizas y garantias; de manera <br/>eficiente utilizando la tecnología en línea.</p>
    <button (click)="navigateToOtherPage()">Ingresar</button>
  </div>
  <div class="contact-info">
    <img src="assets/layout/images/Prosecto.PNG" alt="introLogo" class="intro-logo">
    <div class="contact-text">
      <h2>Contacto</h2>
      <p>Email: brmejiac&#64;prosecto.com</p>
      <p>Teléfono: 3004003205</p>
      <p>Teléfono: +1 (650)339-8748</p>
      <p>Email: info&#64;goldbots.com</p>
    </div>
    <img src="assets/layout/images/goldbots.png" alt="introLogo" class="intro-logo2">
  </div>
</div>
